@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-y: hidden;
}
.container{
    text-align: center;     
    min-height: calc(100vh - 10rem);
}

.logo{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1%;
    color: black;
}

footer{
    background: linear-gradient(239deg, #ffb5e8, #ff9cee, #c5a3ff, #d5aaff, #6eb5ff, #85e3ff, #ace7ff, #aff8d8, #bffcc6);
    background-size: 550% 550%;

    -webkit-animation: flairAnim 25s ease infinite;
    -moz-animation: flairAnim 25s ease infinite;
    -o-animation: flairAnim 25s ease infinite;
    animation: flairAnim 25s ease infinite;
    height: 10rem;
    color: white;
}

.btn{
    margin-top: 1%;
    border: none;
    background-color: black;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    color: white;
    
}
.charadeHeader{
    margin-top: 4%;
    color: grey;
}
.charade{
    margin-top: -2%;
    font-size: 56px;
}

.timeHeader{
    margin-top: 4%;
    color: grey;
}
.time{
    margin-top: -2%;
    font-size: 56px;
}

@media screen and (min-width: 100px) {
    .charade
    { 
        margin-top: 0%; 
        font-size: 38px; 
    }
    .time
    { 
        margin-top: 0%; 
        font-size: 38px; 
    }
    .btn{
        margin-top: 5%;
    }
    .container {
        min-height: calc(100vh - 20rem);
      }
      footer{
          height: 20rem;
      }
}
@media screen and (min-width: 600px) {
    .btn{
        margin-top: 10%;
    }
}

@media screen and (min-width: 800px) {
    .container {
      min-height: calc(100vh - 30rem);
    }
    footer{
        height: 30rem;
    }
    .charade
    { 
        margin-top: 0%; 
        font-size: 46px; 
    }
    .time
    { 
        margin-top: 0%; 
        font-size: 46px; 
    }
    .btn{
        margin-top: 8%;
    }
}

@media screen and (min-width: 1000px) {
    .container {
      min-height: calc(100vh - 40rem);
    }
    footer{
        height: 40rem;
    }
    .btn{
        margin-top: 2%;
    }
}
@media screen and (min-width: 1600px) {
    .container { min-height: calc(100vh - 50rem); }
    footer{ height: 50rem; }
    .charade{ margin-top: 0%; }
    .time{ margin-top: 0%; }
}


@-webkit-keyframes flairAnim {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-moz-keyframes flairAnim {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-o-keyframes flairAnim {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@keyframes flairAnim {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}